@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
  font-family: "Tiro Bangla", serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Tiro Bangla", serif;
}
.navFont {
  font-family: "Tiro Bangla", serif;
  font-size: large;
}

.titleFont {
  color: black;
  font-family: "Tiro Bangla", serif;
  font-size: larger;
}
